name: CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: pytest


  package:
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: false

      - name: Package artifact
        run: |
          mkdir build
          cp app.py requirements.txt build/
          tar -czf flask-app.tar.gz build/

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-artifact-flask
          path: flask-app.tar.gz


  deploy-dev:
    runs-on: ubuntu-latest
    needs: package
    environment: dev

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact-flask

      - name: Deploy to DEV
        run: |
          echo "Deploying to DEV"
          mkdir dev-release
          tar -xzf flask-app.tar.gz -C dev-release


  deploy-prod:
    runs-on: ubuntu-latest
    needs: deploy-dev
    environment: prod

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: app-artifact-flask

      - name: Deploy to PROD
        run: |
          echo "Deploying to PROD"
          mkdir prod-release
          tar -xzf flask-app.tar.gz -C prod-release
